{{ define "main"}}

{{ .Content }}

<div class="posts">
  <h1 class="content-subhead">Recent Posts</h1>
  {{ range first 10 (where .Site.RegularPages.ByDate "Type" "posts").Reverse }}
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ .RelPermalink }}">
          {{ .LinkTitle }}
        </a>
      </h2>

      <p class="post-meta">
        Posted on <em>{{ .PublishDate.Format "January 2, 2006" }}</em>
        {{- if .Params.tags }}, tagged {{ range $tag := .Params.tags }}<a class="post-category" href="/tags/{{ $tag }}">{{ $tag }}</a>{{ end }}
        {{ end }}
      </p>
    </header>

    <div class="post-description">
      <div class="post-images pure-g">
        {{ $current := . }}
        {{ range first 2 (.Resources.ByType "image") }}
          {{ $image := .Fill "500x375 center" }}
          <div class="pure-u-1 pure-u-md-1-2">
            <a href="{{ $current.RelPermalink }}">
              <img alt="{{ $current.Title }}"
                   class="pure-img-responsive"
                   src="{{ $image.RelPermalink }}">
            </a>
          </div>
        {{ end }}
      </div>
      <p>
        {{ .Summary }}
      </p>
      <a href="{{ .RelPermalink }}">
        Read more
      </a>
    </div>
  </section>
  {{ end }}
</div>
{{ end }}
