{{ define "main"}}

{{ .Content }}

<div class="posts">
  <h1 class="content-subhead">Recent Posts</h1>
  {{ range first 10 (where .Site.RegularPages.ByLastmod "Type" "posts").Reverse }}
  <section class="post">
    <header class="post-header">
      {{/*<img width="48" height="48" alt="Reid Burke&#x27;s avatar" class="post-avatar" src="/img/common/reid-avatar.png"> */}}

      <h2 class="post-title">
        {{ .LinkTitle }}
      </h2>

      <p class="post-meta">
      Under {{ range $cat := .Params.categories }}<a class="post-category" href="/categories/{{ $cat }}">{{ $cat }}</a>{{ end }} on <em>{{ .PublishDate }}</em>
      </p>
    </header>

    <div class="post-description">
      <div class="post-images pure-g">
        {{ $current := . }}
        {{ range first 2 (.Resources.ByType "image") }}
          {{ $image := .Fill "500x375 center" }}
          <div class="pure-u-1 pure-u-md-1-2">
            <a href="{{ $current.RelPermalink }}">
              <img alt="Photo of someone working poolside at a resort"
                   class="pure-img-responsive"
                   src="{{ $image.RelPermalink}}">
            </a>

          </div>
        {{ end }}
      </div>
      <p>
        {{ .Summary }}
      </p>
      <a href="{{ .RelPermalink }}">
        READ
      </a>
    </div>
  </section>
  {{ end }}
</div>
{{ end }}
