{{ define "main"}}

<div class="content">
{{ .Content }}
</div>

<p class="subtle-header">Recent Posts</p>

{{ range first 5 (.Site.RegularPages.ByLastmod ).Reverse }}
{{ partial "list-item.html" . }}
{{ end }}

<section>
  <div class="container">
    <p class="subtle-header">But wait, there's more!</p>

    {{ range .Site.Menus.theresmore }}
    <p>
    &rarr;
    {{ with $.Site.GetPage ( strings.TrimSuffix "/" .URL ) }}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ else }}
    <a href="{{ .URL | absURL }}">{{ .Title }}</a>
    {{ end }}
    </p>
    {{ end }}
  </div>
</section>
{{ end }}
