<div class="container">

  <div class="header">
    <h1 class="brand-title">{{.Site.Title}}</h1>
    <h2 class="brand-tagline">{{.Site.Params.Subtitle}}</h2>

    <nav class="nav">
      <ul class="nav-list">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="pure-button" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
    <nav class="nav">
      <ul class="nav-list">
        {{ $site := .Site }}
        {{ with $site.Home.OutputFormats.Get "rss" -}}
        <a class="" href="{{ .Permalink }}" title="RSS 2.0"><img src="{{ $site.BaseURL }}img/application-rss+xml.png" alt="RSS 2.0"/></a>
        {{ end -}}
      </ul>
    </nav>
  </div>
</div>

