{{ define "main" }}
<article class="content">
  <h1 class="title">
    {{ .Title }}
  </h1>
  <p>
  <span class="icon"><i class="fa fa-calendar"></i></span><abbr title="Posted on {{ .Date.Format "January 2, 2006" }}, last updated on {{ .Lastmod.Format "January 2, 2006" }}">{{ .Lastmod.Format "January 2, 2006" }}</abbr>
  </p>
  {{ with .Resources.ByType "image" }}
  <div class="columns is-multiline">
  {{ range . }}
  {{ $image := .Resize "500x375" }}
  {{ $largeImage := .Resize "1280x" }}
    <div class="column is-half">
      <figure class="image">
        <img alt="{{ $image.Title }}" src="{{ $image.RelPermalink }}">
      </figure>
    </div>
  {{ end }}
  </div>
  {{ end }}

  <p>
  {{ .Content }}
  </p>
</article>
{{ end }}
