{{ define "main" }}
<section class="post">
  <header class="post-header">
    <h2 class="post-title">
      {{ .Title }}
    </h2>
    <p class="post-meta">
      Posted on <em>{{ .Date.Format "January 2, 2006" }}</em>
      {{ if not (eq .Date .Lastmod) }}
      <strong>and last updated on <em>{{ .Lastmod.Format "January 2, 2006" }}</em></strong>
      {{ end -}}
      {{- if .Params.tags }}, tagged {{ range $tag := .Params.tags }}<a class="post-category" href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>{{ end }}
      {{ end }}
    </p>
  </header>

  <div class="post-description">
    <div class="post-images pure-g">
      {{ range .Resources.ByType "image" }}
      {{ $image := .Resize "500x375" }}
      {{ $largeImage := .Resize "1280x" }}
      <div class="pure-u-1 pure-u-md-1-2">
        <a href="{{ $largeImage.RelPermalink }}">
          <img alt="{{ $image.Title }}"
               class="pure-img-responsive"
               src="{{ $image.RelPermalink }}">
        </a>
      </div>
      {{ end }}
    </div>

    <p>
      {{ .Content }}
    </p>
  </div>

</section>
{{ end }}
