{{ define "main" }}
<h1 class="title">
  {{ .Title }}
</h1>
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p>
      <i class="icon fa fa-calendar"></i><abbr title="Posted on {{ .Date.Format "January 2, 2006" }}, last updated on {{ .Lastmod.Format "January 2, 2006" }}">{{ .Lastmod.Format "January 2, 2006" }}</abbr>
      </p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item tags">
      <i class="icon fa fa-tags"></I>
      {{ if .Draft }}<span class="tag is-rounded is-danger">Draft</span>{{ end }}
      <span class="tag is-rounded is-primary">{{ .Type | singularize | title }}</span>
      {{- if .Params.tags }}{{ range $tag := .Params.tags }}<a class="tag" href="/tags/{{ $tag | urlize }}">{{ $tag | title }}</a>{{ end -}}
      {{ end }}
    </div>
  </div>
</div>


{{ with .Resources.ByType "image" }}
<h2 class="subtle-header subtitle">Photos</h2>
{{- partial "images.html" . -}}
{{ end }}

<h2 class="subtle-header subtitle">Overview</h2>
<div class="content">
  {{ with .Params.yields }}
  <p>Yields: {{ . }}</p>
  {{ end }}
  {{ .Content }}
</div>

{{ with .Params.ingredients }}
<h2 class="subtle-header subtitle">Ingredients</h2>
<table class="table is-fullwidth is-striped">
  {{ range . }}
  {{ $ingredient := index $.Site.Data.ingredients .name }}
  <tr>
    <td>
      {{ .amount | safeHTML }}
    </td>
    <td>
      {{ with .unit }}
      {{ $unit := index $.Site.Data.units . }}
      {{ $unit.short }}
      {{ else }}
      {{ index $ingredient "default-unit" }}
      {{ end }}
    </td>
    <td>
      {{ $ingredient.title }}
    </td>
    <td>
      {{ .notes }}
    </td>
  </tr>
  {{ end }}
</table>
{{ end }}
{{ with .Params.method }}
<h2 class="subtle-header subtitle">Method</h2>

<div class="content">
  <ol>
    {{ range . }}
    <li>
      {{ .description }}
    </li>
    {{ end }}
  </ol>
</div>

{{ end }}
{{ end }}
